  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-f457270f-71c0-4c13-b4fb-b3dafc1bab8c;AttachDbFilename=|DataDirectory|\aspnet-Website-f457270f-71c0-4c13-b4fb-b3dafc1bab8c.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
    <add name="ChinookDB"
       connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
